body { 
    font-family: 'Montserrat', sans-serif;

}

h1 { 
    font-size: 3.7rem;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 20px;
}

h2 { 
    font-weight: bold;
    line-height: 1.5;
    font-size: 2.3rem;
    padding-top: 2%;
}


h3 { 
    font-size: 1.7rem;
    line-height: 1.5;
    font-weight: bold;
}

.steps-description { 
    width: 60%;
    margin: 0 auto 0 auto;
}

.navbar { 
    padding: 0 0 4.5rem;
}

.nav-item { 
    padding: 0 15px;
}

.navbar-brand { 
    font-size: 1.8rem;
}

.container-fluid { 
    padding: 3% 12%;
}

#title { 
    background-color: #008891;
}

.download-button { 
    margin-right: 10px;
}

.title-image { 
    width: 120%;
}

.testimonials-img { 
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#features { 
    text-align: center;
    padding: 5% 15%;
}

#testimonials { 
    text-align: center;
    background-color: #e7e7de;
}

.carousel-item { 
    padding: 5% 10%;
}

#press { 
    background-color: #e7e7de;
    text-align: center;
    padding-bottom: 3%;

}

.press-logo { 
    width: 12%;
    margin: 20px 20px 50px;
}

.fas { 
    margin-top: 50px;
    margin-bottom: 30px;
    color: #008891;
}

.fas:hover { 
    color: #00587a;
}